<h4>Would you like to downgrade your account back to not awesome?</h4>
<%= link_to "Downgrade Your Account", downgrade_create_path, method: :create, class: 'btn btn-danger', data: {confirm: 'Seriously Bro?'} %>
